@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap'); /* Importing a coding font */


body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #121212;
  color: #ffffff;
}

/* Navbar */
.navbar {
  background-color: #2c2a2a !important;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.navbar-title {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 35px;
  color: #00ffcc;
  text-shadow: 0 0 5px #00ffcc;
}

.navbar-subtitle {
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-left: 5px;
  margin-top: 10px;
  font-size: 15px;
  color: #00ffcc;
  text-shadow: 0 0 5px #00ffcc;
}

.navbar-spacer {
  flex: 1 1 auto;
}

.search-box {
  background-color: #333;
  border: 1px solid #555;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

/* Layout container */
.main-container {
  display: flex;
  margin-top: 2px;
}

.sidebar {
  width: 260px;
  background-color: #1e1e1e;
  padding: 20px;
  margin-right: 20px;
  border-radius: 8px;  /* slightly round the sidebar container */
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}


/* Content area */
.content {
  flex: 1;
  padding: 20px;
  background-color: #1c1c1c;
  border-radius: 4px;
}
