<!-- Dark Navbar -->
<mat-toolbar class="navbar">
  <span class="navbar-title">M.A.I.N</span>
  <span class="navbar-subtitle">documentation</span>
  <span class="navbar-spacer"></span>
  <app-doc-search></app-doc-search>
</mat-toolbar>

<!-- Main container: sidebar + content -->
<div class="main-container">
  <!-- Left Sidebar with doc-menu -->
  <aside class="sidebar">
    <app-doc-menu></app-doc-menu>
  </aside>

  <!-- Content area -->
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</div>
